.login {
  position: fixed;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 blue;
  display: inline-block;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login input {
  width: 400px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-bottom: 10px;
}
#submit {
  background: blue;
  color: #fff;
  width: 100%;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.resetpassword {
  float: right;
  font-size: 12px;
  text-decoration: none;
  text-underline-position: none;
  margin-bottom: 10px;
}

button{
  background: blue;
  color: #fff;
  width: 100%;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}