#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.signupin{
    display: flex;
    justify-content: space-between;
}
.signupin li {
    margin-left: 10px;
}