{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />    
  </head>
  <body>
    <header class="header-cont">
      <div class="header">
        <a href="#" class="logo">Logo</a>
        <ul class="signupin">
          <li>Log In</li>
          <li>Register</li>
        </ul>
      </div>
    </header>
		<div class="login">
			<h2>რეგისტრაცია</h2>
			<form>
				<input type="text" name="name" placeholder="მომხმარებელი"><br>
				<input type="text" name="fullname" placeholder="სახელი გვარი"><br>
				<input type="text" name="email" placeholder="იმეილი"><br>
				<input type="password" name="password" placeholder="პაროლი"><br>
				<input type="password" name="repassword" placeholder="გაიმეორეთ პაროლი"><br>
				<input type="submit" name="submit" value="რეგისტრაცია" id="submit">
			</form>
		</div>
</body>
</html>