{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />    
  </head>
  <body>
    <header class="header-cont">
      <div class="header">
        <a href="#" class="logo">Logo</a>
        <ul class="signupin">
          <li>Log In</li>
          <li>Register</li>
        </ul>
      </div>
    </header>
	<div class="login">
		<p>გთხოვთ დაადასტუროთ თქვენი ანგარიში:</p>
		<button
	        type="button"
	      >
	        Verify
	    </button>
	</div>
</body>
</html>